n8n_workflow.json
{
  "name": "B-Roll Extraction Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broll-trigger",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "e7b0fa4a-115f-4d64-9a4d-f9588bdeb26f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "broll-trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.clips",
        "options": {}
      },
      "id": "27c3f3be-d3b5-412e-9d8f-c30164cfa9c2",
      "name": "Split In Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "command": "=ffmpeg -i \"C:/Users/nikhi/OneDrive/Desktop/TribeV2/input_video.mp4\" -ss {{$json[\"start\"]}} -to {{$json[\"end\"]}} -c copy \"C:/Users/nikhi/OneDrive/Desktop/TribeV2/output_clip_{{$itemIndex}}.mp4\""
      },
      "id": "3be293ca-a0d3-49d6-b076-2e8655c65a4c",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        690,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split In Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Items": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
